.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  transition-timing-function: ease-in;
  transition: 0.3s all;

  &--black {
    background-color: #111;
  }

  &__logo {
    max-width: 120px;
    object-fit: contain;
  }

  &__avatar {
    max-width: 40px;
    object-fit: contain;
  }
}
