.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &__logo {
    max-width: 120px;
    object-fit: contain;
    position: fixed;
    left: 15px;
  }

  &__avatar {
    max-width: 50px;
    object-fit: contain;
    position: fixed;
    right: 20px;
  }
}
